body {
	margin: 0;
	padding-top: 110px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

button {
	border: none;
	padding: 6px 8px;
	margin: 0 2px;
	border-radius: 4px;
	background: #68a058;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background: #89bf7a
}

label {
	margin-right: 10px;
}

.log-finder-controls {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 6px 16px;
	background: #f2f2f2;
	text-align: center;
	display: block
}

.form-group {
	border: 1px solid #ddd;
	background: #fff;
	padding: 8px;
	border-radius: 4px;
	margin: 2px 4px;
	display: inline-block;
}

.form-group > input[type='text'] {
	padding: 6px 8px;
	min-width: 150px;
}

.words-input {
	width: 200px;
}

#logs {
	line-height: 16px;
	padding: 10px;
}

.count-info {
	margin: 0 16px 0 6px;
}

.log {
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.log.selected {
	background: #d9f1d9;
}